<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreManagementSystem</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">
    <header>

    </header>
    <div class="flex flex-1">
        <nav class="w-64 bg-white shadow-md flex flex-col h-screen">
            <div class="py-5 px-6 text-5xl text-center border-5 rounded-3">Store</div>
            <div class="p-6">
                <ul class="space-y-4">
                    <li>
                        <a class="block px-4 py-2 rounded bg-yellow-100 text-yellow-800 font-semibold" asp-area="" asp-controller="Home" asp-action="Index">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a class="block px-4 py-2 rounded hover:bg-yellow-50" asp-area="" asp-controller="Product" asp-action="Index">
                            Products
                        </a>
                    </li>
                    <li>
                        <a class="block px-4 py-2 rounded hover:bg-yellow-50" asp-area="" asp-controller="Order" asp-action="Index">
                            Orders
                        </a>
                    </li>
                    <li>
                        <a class="block px-4 py-2 rounded hover:bg-yellow-50" asp-area="" asp-controller="Supplier" asp-action="Index">
                            Suppliers
                        </a>
                    </li>
                </ul>
            </div>

            <div class="mt-auto p-6">
                <a class="block px-4 py-2 rounded bg-yellow-100 text-yellow-800 font-semibold text-center" asp-area="" asp-controller="User" asp-action="Index">
                    User
                </a>
            </div>
        </nav>
        <!-- Main content -->
        <main class="flex-1 p-8">
            @RenderBody()
        </main>
    </div>
    <footer class="border-t text-gray-500 text-sm py-4 mt-auto bg-white">
        <div class="container mx-auto px-4">
            &copy; 2026 - StoreManagementSystem -
            <a class="text-blue-600 hover:underline" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>