<div id="productDetailsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="productDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-orange-300">
                <h5 class="modal-title text-gray-800 font-bold" id="productDetailsModalLabel">Product Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-[#FFF8E1]">
                <p><strong>Category:</strong> <span id="productCategory"></span></p>
                <p><strong>Supplier:</strong> <span id="productSupplier"></span></p>
                <p><strong>Quantity:</strong> <span id="productQuantity"></span></p>
                <p><strong>Price:</strong> <span id="productPrice" class="text-black font-bold"></span></p>
            </div>
            <div class="modal-footer">
                <a id="editProductLink" class="btn btn-warning">
                    Edit
                </a>
                <a id="deleteProductLink" class="btn btn-danger">
                    Delete
                </a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>