@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="text-2xl font-bold mb-6">Log in to Your Account</h1>
<hr />
<div class="max-w-xl mx-auto bg-white p-6 border-2 rounded-lg shadow-md mt-8">
    <form id="loginForm" method="post" class="space-y-4">
        <div asp-validation-summary="ModelOnly" class="text-red-500 text-sm" role="alert"></div>
        <div class="space-y-4">
            <div>
                <label asp-for="Input.Email" class="block text-sm font-medium text-gray-700">Email Address</label>
                <input asp-for="Input.Email" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Email address" />
                <span asp-validation-for="Input.Email" class="text-red-500 text-sm"></span>
            </div>
            <div>
                <label asp-for="Input.Password" class="block text-sm font-medium text-gray-700">Password</label>
                <input asp-for="Input.Password" type="password" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-red-500 text-sm"></span>
            </div>
            <div class="flex items-center">
                <input class="form-check-input h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" asp-for="Input.RememberMe" />
                <label asp-for="Input.RememberMe" class="ml-2 block text-sm text-gray-700">Remember me</label>
            </div>
        </div>

        <div>
            <button id="loginSubmit" type="submit" class="w-full px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition">
                Log in
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}